$azul_bookmark: #5266df;
$azul_footer: #242946;
$rojo_boton: #f55958;
@mixin flexY ($direction:column, $content:space-evenly){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-content: center;
}
@mixin flexX ($direction:row, $content:space-evenly){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-content: center;
}
body{
    @include flexY();
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    padding: 0px 30px;
}
footer{
    @include flexY();
    background-color: $azul_footer;
    color: white;
    width: 100%;
    min-height: 300px;
}
section{
    @include flexY();
    padding:30px 5%;
}
summary{
    @include flexX(row-reverse, space-between);
    div{
        text-align: right;
    }
}
#faq_details{
    @include flexY();
}
div{
    text-align: center;
    align-content: center;
    margin: 10px 0px;
}
img{
    max-width: 100%;
    height: auto;
    margin: 10px;
}
.icon{
    width: 24px;
    height: 24px;
    object-fit: none;
}
ul{
    list-style-type: none;
    display: inline-flex;
    padding: 0px;
}
.bg-navMenu{
    background-color: rgba(36, 41, 70, 0.9);
}
.hidden_mobile{
    display: none;
}
.button_nav{
    text-decoration: none;
    border-style: solid 1px $azul_bookmark;
    border-radius: 8px;
    padding: 12px 28px;
}
.button_link{
    background-color: $azul_bookmark;
    color: white;
    border-style: hidden;
    box-shadow: 5px 5px 10px #e0e0eb;
    border-radius: 8px;
    padding: 12px 28px;
}
.button_slide{
    border-style: hidden;
    padding: 12px 28px;
}
.browser_box_border{
    box-shadow: 5px 5px 10px #e0e0eb;
    padding: 20px 0px;
    margin: 20px 0px;
}
#browser_box{
    padding: 0% 12%;
}
#features_ul{
    flex-direction: column;
}
#nav_list_footer{
    @include flexY();
}
#contact{
    @include flexY();
    background-color: $azul_bookmark;
    color: white;
    width: 100%;
    min-height: 300px;
    margin-bottom: 0px;
}
#contact_form{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 80px;
}
@media only screen and (min-width: 600px){
    section{
        margin: 20px 0px;
        padding: 0% 10%;
    }
    .textalign_left{
        text-align: left;
        width: 500px;
    }
    .simplebookmarkmanager{
        @include flexX(row-reverse, center);
        width: 80%;
        align-items: center;
    }
    footer{
        @include flexX(row, space-between); 
        min-height: 100px;
        padding: 0% 10%;
    }
    #footer1{
        @include flexX(row, flex-start);   
    }
    #nav_list_footer{
        flex-direction: row;
    }
    #browser_box{
        @include flexX();
        padding: 0% 2%;
    }
    .browser_box_border{
        padding: 20px 10px;
        margin: 20px 20px;
        min-width: 170px;
    }
    .center500{
        align-items: center;
        //width: 500px;
    }
    /*
    .fullscreen{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
    }
    */
    #logo_hamburguer{
        display: none;
    }
    #nav_list{
        display: block;
        align-content: center;
    }
    #contact_form{
        flex-direction: row;
    }
    .features{
        @include flexX(row-reverse, center);
        align-items: center;
    }
    #features_ul{
        flex-direction: row;
    }
    .div{
        margin: 10px 0px;
    }

}